<ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Location" icon="ion-ios-search-strong" href="#/tab/locations">
            <ion-nav-view name="locations-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Contact" icon="ion-person-stalker" href="#/tab/contact">
            <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Projects" icon="ion-ios-home" href="#/tab/projects">
            <ion-nav-view name="projects-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>